<!DOCTYPE html>
<html>
<head>
<!--    <link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>MODEL</title>
    <link rel="shortcut icon" href="9689519.jpg" type="image">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var list_values = [[${list_values}]];
        var model_name = "[[${model_name}]]"
        var modelNameList = model_name.split(",");

        google.charts.load('current', {'packages': ['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'epoch');
            for (var j = 0; j < modelNameList.length; j++) {
                data.addColumn('number', modelNameList[j]);
            }

            var epoch_ = 0;
            for (var i = 0; i < list_values[0].length; i++) {
                const tmp_list = [];
                epoch_ = epoch_ + 1;
                tmp_list.push(epoch_);
                for (var j = 0; j < list_values.length; j++) {
                    tmp_list.push(list_values[j][i]);
                }
                data.addRow(tmp_list);
            }

            var options = {
                title: 'График моделей по MAE',
                curveType: 'function',
                legend: {position: 'bottom'}
            };

            var chart = new google.charts.Line(document.getElementById('linechart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
<div>
        <img class="image" src="9689519.jpg">
</div>

<h1>Главная страница</h1>
<hr>
<h2 class="pageHeader" ALIGN=LEFT>Модели:</h2>
<div id="productList" ALIGN=LEFT></div>
<h3 class="pageHeader" ALIGN=LEFT>Отправка данных для обучения модели:</h3>
<form action="/api/sendLearningData" method="post" ALIGN=LEFT>
    <div class="input_row">
        <div class="input_column">
            <label for="model_name">Название модели:</label>
            <input class="input_data" type="text" id="model_name" name="model_name" />
        </div>
        <div class="input_column">
            <label for="post_code">Код поста:</label>
            <input class="input_data" type="number" id="post_code" name="post_code" value="123456789"/>
        </div>
    </div>

    <div class="input_row">
        <div class="input_column">
            <label for="alpha">Alpha:</label>
            <input class="input_data" type="number" id="alpha" name="alpha" step="any" value="1"/>
        </div>
        <div class="input_column">
            <label for="batch">Batch:</label>
            <input class="input_data" type="number" id="batch" name="batch" value="178"/>
        </div>
    </div>

    <div class="input_row">
        <div class="input_column">
            <label for="num_epochs">Number of Epochs:</label>
            <input class="input_data" type="number" id="num_epochs" name="num_epochs" value="8"/>
        </div>
        <div class="input_column">
            <label for="hidden_size">HiddenSize:</label>
            <input class="input_data" type="number" id="hidden_size" name="hidden_size" value="20"/>
        </div>
    </div>

    <input class="buttons" type="submit" value="Отправить" />
</form>
<!--<form action="/api/sendLearningData" method="post" ALIGN=LEFT>-->
<!--    Название модели: <label>-->
<!--    <input class = "input_data" type="text" name="model_name" />-->
<!--</label><br><br>-->
<!--    Код поста: <label>-->
<!--    <input class = "input_data" type="number" name="post_code" value = "123456789"/>-->
<!--</label><br><br>-->
<!--    Alpha: <label>-->
<!--    <input class = "input_data" type="number"  name="alpha" step="any" value="1"/>-->
<!--</label><br><br>-->
<!--    Batch: <label>-->
<!--    <input class = "input_data" type="number" name="batch" value="178"/>-->
<!--</label><br><br>-->
<!--    Number of Epochs: <label>-->
<!--    <input class = "input_data" type="number" name="num_epochs" value="8"/>-->
<!--</label><br><br>-->
<!--    HiddenSize: <label>-->
<!--    <input class = "input_data" type="number" name="hidden_size" value="20"/>-->
<!--</label><br><br>-->
<!--    <input class = 'buttons' type="submit" value="Отправить" />-->

<!--</form>-->

<script>
    var model_names = "[[${model_names}]]";
    var modelNameList = model_names.split(",");
    var modelDict = {};

    for (var i = 0; i < modelNameList.length; i++) {
        modelDict[modelNameList[i]] = "/testModel/" + modelNameList[i];
    }

    function displayProducts(modelDict) {
        const productList = document.getElementById('productList');

        if (productList) {
            for (let key in modelDict) {
                const listItem = document.createElement('li');
                const link = document.createElement('a');
                link.href = modelDict[key];
                listItem.className = 'model';
                link.textContent = key;
                listItem.appendChild(link);
                productList.appendChild(listItem);
            }
        } else {
            console.error('Элемент с id "productList" не найден в DOM.');
        }
    }

    displayProducts(modelDict);
</script>
<div id="linechart" style="width: 500px; height: 300px;"></div>


</body>
</html>