<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODEL</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var list_values = [[${list_values}]] ;
        var model_name = "[[${model_name}]]"
        var modelNameList = model_name.split(",");

        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'epoch');
            for (var j = 0; j < modelNameList.length; j++){
                data.addColumn('number', modelNameList[j]);
            }

            var epoch_ = 0;
            for (var i = 0; i < list_values[0].length; i++) {
                const tmp_list = [];
                epoch_ = epoch_ + 1;
                tmp_list.push(epoch_);
                for (var j = 0; j < list_values.length; j++){
                    tmp_list.push(list_values[j][i]);
                }
                data.addRow(tmp_list);
            }

            var options = {
                title: 'Line Chart of mae',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.charts.Line(document.getElementById('linechart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
<h1>MODEL</h1>
<hr>
<h4>Список моделей</h4>
<div id="linechart" style="width: 900px; height: 500px;"></div>
<!-- replace with actual model list -->
<div>
    <p><b>Model 1</b> <a href="/testModel/Model 1">Подробнее...</a></p>
</div>
<div>
    <p><b>Model 2</b> <a href="/testModel/Model 2">Подробнее...</a></p>
</div>
<div>
    <p><b>Model 3</b> <a href="/testModel/Model 3">Подробнее...</a></p>
</div>
<hr>
</body>
</html>