/* latin */
body {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        color: white;
        text-align: center;
        background-image: url(5576289.jpg);

        background-size: cover;
}
.one {
        font-style: normal;
        font-size: xx-large;
}
.two {
        font-style: normal;
        font-size: x-large;
}