/* latin */
body {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        color: black;
        text-align: center;
        background-image: url(8225162.jpg);

        background-size: cover;
}
.one {
        font-style: normal;
        font-size: xx-large;
}