<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TestModel</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        const list_values = [[${list_values}]];
        const model_name = "[[${model_name}]]";
        console.log(list_values);
        const modelNameList = model_name.split(",");

        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'epoch');
            for (var j = 0; j < modelNameList.length; j++){
                data.addColumn('number', modelNameList[j]);
            }

            var epoch_ = 0;
            for (var i = 0; i < list_values[0].length; i++) {
                const tmp_list = [];
                epoch_ = epoch_ + 1;
                tmp_list.push(epoch_);
                for (var j = 0; j < list_values.length; j++){
                    tmp_list.push(list_values[j][i]);
                }
                data.addRow(tmp_list);
            }

            var options = {
                title: 'График метрик модели',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.charts.Line(document.getElementById('linechart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
<button id="back_button" onclick="history.back()" class="buttons">Назад</button>

<h1>MODEL [[${name}]]</h1>
<hr>
<div id="linechart" style="width: 500px; height: 300px;"></div>
<h2 ALIGN=LEFT>Отправка данных для теста модели:</h2>
<!--<form action="/api/sendData" method="post" ALIGN=LEFT>-->
<!--    Название модели: <label>-->
<!--    <input type="text" name="model_name" th:value="${name}"/>-->
<!--</label><br><br>-->
<!--    Дата: <label>-->
<!--    <input type="date" name="date" value = "2024-01-01"/>-->
<!--</label><br><br>-->
<!--    Температура воздуха: <label>-->
<!--    <input type="number" name="t_air" value="-20"/>-->
<!--</label><br><br>-->
<!--    Атмосферное давление: <label>-->
<!--    <input type="number" name="atm_dav" value="178"/>-->
<!--</label><br><br>-->
<!--    Скорость ветра: <label>-->
<!--    <input type="number" name="wind" value="8"/>-->
<!--</label><br><br>-->
<!--    Толщина снежного покрова: <label>-->
<!--    <input type="number" name="snow_level" value="20"/>-->
<!--</label><br><br>-->
<!--    Количество осадков: <label>-->
<!--    <input type="number" name="rain" value="20"/>-->
<!--</label><br><br>-->
<!--    <input class="buttons" type="submit" value="Отправить" />-->
<!--</form>-->
<form action="/api/sendData" method="post" ALIGN=LEFT>
    <div class="input_row">
        <div class="input_column">
            <label for="model_name">Название модели:</label>
            <input class="input_data" type="text" id="model_name" name="model_name" th:value="${name}"/>
        </div>
        <div class="input_column">
            <label for="date">Дата:</label>
            <input class="input_data" type="date" id="date" name="date" value="2024-01-01"/>
        </div>
    </div>

    <div class="input_row">
        <div class="input_column">
            <label for="t_air">Температура воздуха:</label>
            <input class="input_data" type="number" id="t_air" name="t_air" value="-20"/>
        </div>
        <div class="input_column">
            <label for="atm_dav">Атмосферное давление:</label>
            <input class="input_data" type="number" id="atm_dav" name="atm_dav" value="178"/>
        </div>
    </div>

    <div class="input_row">
        <div class="input_column">
            <label for="wind">Скорость движения ветра:</label>
            <input class="input_data" type="number" id="wind" name="wind" value="8"/>
        </div>
        <div class="input_column">
            <label for="snow_level">Толщина снежного покрова:</label>
            <input class="input_data" type="number" id="snow_level" name="snow_level" value="20"/>
        </div>
    </div>

    <div class="input_row">
        <div class="input_column">
            <label for="rain">Количество осадков:</label>
            <input class="input_data" type="number" id="rain" name="rain" value="20"/>
        </div>
        <div class="input_column">
            <!-- Пустая колонка для выравнивания кнопки -->
        </div>
    </div>

    <input class="buttons" type="submit" value="Отправить" />
</form>

</body>
</html>