<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestModel</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        const list_values = [[${list_values}]];
        const model_name = "[[${model_name}]]";
        console.log(list_values);
        const modelNameList = model_name.split(",");

        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'epoch');
            for (var j = 0; j < modelNameList.length; j++){
                data.addColumn('number', modelNameList[j]);
            }

            var epoch_ = 0;
            for (var i = 0; i < list_values[0].length; i++) {
                const tmp_list = [];
                epoch_ = epoch_ + 1;
                tmp_list.push(epoch_);
                for (var j = 0; j < list_values.length; j++){
                    tmp_list.push(list_values[j][i]);
                }
                data.addRow(tmp_list);
            }

            var options = {
                title: 'Line Chart of mae',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.charts.Line(document.getElementById('linechart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
<h1>MODEL [[${name}]]</h1>
<hr>
<div id="linechart" style="width: 500px; height: 300px;"></div>

<p ALIGN=RIGHT>Отправка данных для теста модели</p>
<form action="/api/sendData" method="post" ALIGN=RIGHT>
    Название модели: <label>
    <input type="text" name="model_name" th:value="${name}"/>
</label><br><br>
    Дата: <label>
    <input type="date" name="date" value = "2024-01-01"/>
</label><br><br>
    Температура воздуха: <label>
    <input type="number" name="t_air" value="-20"/>
</label><br><br>
    Атмосферное давление: <label>
    <input type="number" name="atm_dav" value="178"/>
</label><br><br>
    Скорость ветра: <label>
    <input type="number" name="wind" value="8"/>
</label><br><br>
    Толщина снежного покрова: <label>
    <input type="number" name="snow_level" value="20"/>
</label><br><br>
    Количество осадков: <label>
    <input type="number" name="rain" value="20"/>
</label><br><br>
    <input type="submit" value="Отправить" />
</form>
</body>
</html>